.button {
  border: none;
  border-radius: 4px;
  outline: none;
  display: inline-block;
  height: 40px;
  padding: 0 16px;
  font-weight: 800;
  cursor: pointer;
  background-color: #ffb300;
  border-color: #ffb300;
  color: #ffffff;

  &:hover {
    background-color: darken(#ffb300, 10%);
  }

  &--outlined {
    background-color: transparent;
    border: 2px solid  #ffb300;
    color: #ffb300;
    &:hover {
      background-color: transparent;
      border-color: darken(#ffb300, 10%);
      color: darken(#ffb300, 10%);
    }
  }
}