.list {
  &__container {}
  &__item {
    margin: 15px;
    color: #484848;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 80px;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(70, 57, 18, 0.15);
    background-image: url("./../img/Asset_3.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: left;
    background-position-x: -30px;
    border-radius: 8px;
  }
  &__header {
    font-size: 1.3em;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: .025em;
    flex: 1;
    margin: 0;
  }
  &__caption {
    font-weight: 400;
    flex: 1;
    font-size: 1.12em;
    color: #525f7f;
  }
}