.reviews {
  &__container {
    margin: 0;
    padding: 0;
  }
  &__item {
    list-style: none;
    width: 100%;
    margin: 15px 0;
    position: relative;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(70, 57, 18, 0.15);
    border-radius: 8px;
  }
  &__header {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
  }
  &__paragraph {
    max-width: 40em;
  }
}