$coin-diameter: 100px;
$coin-thickness: 20px;
$coin-color: #FFD324;
$coin-front: "./../img/Asset 1.png";
$coin-back: "./../img/Asset 2.png";
$edge-faces: 80;
$edge-face-length: 3.14*$coin-diameter/$edge-faces;
$turn-time: 1s;

.coin {
  position: relative;
  width: $coin-diameter;
  height: $coin-diameter;
  margin: 50px auto;
  transform-style: preserve-3d;
  transition: all .3s;
  &__container {
    text-align: center;
  }
  &--animate {
    animation: rotate3d $turn-time linear;
    animation-iteration-count: 1
  }
}

.coin__front,
.coin__back {
  position: absolute;
  width: $coin-diameter;
  height: $coin-diameter;
  border-radius: 50%;
  overflow: hidden;
  background-color: $coin-color;

  &:after {
    content: "";
    position: absolute;
    left: -$coin-diameter/2;
    bottom: 100%;
    display: block;
    height: $coin-diameter/1.5;
    width: $coin-diameter*2;
    background: #fff;
    opacity: 0.3;
  }
}

.coin__front {
  background-image: url($coin-front);
  background-size: cover;
  transform: translateZ($coin-thickness/2);

  &--inactive {
    background-image: url($coin-back);
  }
}
.coin__back {
  background-image: url($coin-back);
  background-size: cover;
  transform: translateZ(-$coin-thickness/2) rotateY(180deg);
  &--inactive {
    background-image: url($coin-front);
  }
}

.coin__edge {
  @for $i from 1 through $edge-faces {
    div:nth-child(#{$i}) {
      position: absolute;
      height: $edge-face-length;
      width: $coin-thickness;
      background: darken( $coin-color, ( ($i - $edge-faces/2) * ($i - $edge-faces/2)) / ($edge-faces*$edge-faces/4) * 100 * 0.2 );
      transform:
              translateY(#{$coin-diameter/2-$edge-face-length/2})
              translateX(#{$coin-diameter/2-$coin-thickness/2})
              rotateZ(360deg/$edge-faces*$i+90)
              translateX(#{$coin-diameter/2})
              rotateY(90deg);
    }
  }
}

@keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }

  100% {
    transform: perspective(1000px) rotateX(360deg);
  }
}